@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* General Styling */

:root {
	--primary-color: #8944a8;
	--primary-text-color: #313131;
	--secondary-color: #d14e4e;
	--secondary-text-color: #dfdfdf;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: var(--primary-text-color);
	font-weight: 400;
	line-height: 1.5;
	background-color: var(--secondary-text-color);
}

h1 {
	font-size: 4.375rem;
	font-weight: 600;
	color: var(--primary-color);
}

h3 {
	font-size: 3.2rem;
}
h1,
h3 {
	margin-bottom: 10px;
}

h3 span {
	color: var(--primary-color);
}

p {
	font-size: 1.125rem;
}

img {
	width: 500px;
}

a {
	text-decoration: none;
}

hr {
	color: #adadad;
	width: 20%;
	margin: 0 auto;
}

.container {
	min-height: 100vh;
	width: 80vw;
	margin: 0 auto;
}

/* General Styling */

/* Navbar Styling */

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: -2%;
	width: 100vw;
	height: 12vh;
	transition: 0.3s ease background-color;
}

.headercontainer {
	min-height: 10vh;
	margin: 13px auto;
}

nav {
	display: flex;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
	margin: 0 auto;
}

.logo {
	font-weight: 600;
	font-size: 1.4rem;
}

.logo a {
	color: var(--secondary-color);
}

.navlinks,
.footer_navlinks {
	display: flex;
	width: 50%;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.link {
	font-size: 1.2rem;
	color: var(--secondary-text-color);
	transition: color 0.3s ease;
}

.link:hover {
	color: var(--secondary-color);
}

.hamburger div {
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: #fff;
	border-radius: 5px;
}

.hamburger {
	display: none;
}

/* Navbar Styling */

/* Hero Section Styling */

#hero {
	background-image: url('./images/showCase_image.jpg');
	background-position: center right;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	perspective: 10px;
	position: relative;
	z-index: 1;
}
#hero::after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.8;
	z-index: -1;
}

#hero .container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transform: translateY(-5%);
}

#hero p {
	font-size: 1.6rem;
	color: var(--secondary-text-color);
}

/* Hero Section Styling */

/* Service & About Section Styling */

.grid_template {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-around;
	align-items: center;
}

.left-col .content {
	padding-right: 100px;
}

.right-col .content {
	padding-left: 100px;
}

/* Service & About Section Styling */

/* Contact Section Styling */
.contact-header {
	text-align: center;
}
.contactform {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contactform p {
	color: var(--primary-color);
	font-weight: 500;
}

.text {
	width: 60vw;
	margin: 0 auto;
	padding: 15px;
	font-size: 1.2rem;
	background: transparent;
	color: var(--secondary-color);
	border: 2px solid var(--primary-color);
	margin-bottom: 10px;
	border-radius: 10px;
}
.submit {
	display: block;
	margin: 0 auto;
	padding: 10px 15px;
	font-size: 1.2rem;
	background: transparent;
	color: var(--primary-color);
	outline: none;
	cursor: pointer;
	border: 1px solid var(--primary-color);
	transition: background-color 0.3s ease-in, color 0.4s ease-in-out;
	border-radius: 20px;
}
.submit:hover {
	background-color: var(--primary-color);
	color: var(--secondary-text-color);
}
/* Contact Section Styling */

/* Footer Section Styling */
footer {
	width: 80%;
	margin: 0 auto;
}
.footer_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.social_media {
	margin-left: 10px;
}

.footer_line {
	width: 90%;
	margin: 0 auto;
}

.copyrights {
	text-align: center;
	margin: 30px 0;
}

/* Footer Section Styling */

/* Animation for navlinks */

@keyframes navLinkfade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

/* Media Query for Tablets */

@media screen and (max-width: 1200px) {
	/* General Styling for Responsive */

	h1 {
		font-size: 3.7rem;
	}

	h3 {
		font-size: 2.7rem;
	}

	p {
		font-size: 1.1rem;
	}

	img {
		width: 400px;
	}

	/* Responsive Navbar */
	.headercontainer {
		background-color: #2e2e2e;
	}
	.navlinks {
		position: absolute;
		right: 0;
		height: 90vh;
		top: 10vh;
		background-color: #2e2e2e;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.navlinks li {
		opacity: 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.active {
		transform: translateX(0);
	}

	/* Service & About Section Styling */

	.grid_template {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		flex-direction: column;
	}
	.right {
		flex-direction: column-reverse;
	}
	.content {
		width: 70%;
		margin: 0 auto 50px;
		text-align: center;
	}

	.left-col .content {
		padding-right: 0px;
	}

	.right-col .content {
		padding-left: 0px;
	}

	/* Service & About Section Styling */
}

/* Media Query for Mobile */

@media screen and (max-width: 569px) {
	h1 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 2rem;
	}

	p {
		font-size: 0.8rem;
	}

	img {
		width: 250px;
	}

	/* Hero Section Styling */
	#hero p {
		font-size: 1.2rem;
		color: var(--secondary-text-color);
	}
	/* Hero Section Styling */

	/* Contact Section Styling */
	.text {
		font-size: 0.9rem;
	}
	/* Contact Section Styling */

	/* Footer Section Styling */
	.logo {
		margin-bottom: 10px;
	}
	.footer_content {
		flex-direction: column;
	}
	/* Footer Section Styling */
}
